*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

html {
    font-size: var(--primary-text);
    color: #070707;
}

ul,
ol,
menu {
    list-style:none;
}

*::before,
*::after {
    box-sizing:border-box;
}

a {
    text-decoration:none;
    color:inherit;
}

body {
    /* font-family: "Open Sans", sans-serif; */
    font-weight:400;
    font-style:normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select:focus, textarea:focus, input:focus {
        font-size: 16px;
    }
}

:root {
    --primary-text:14px;
    --primary-color:#5C4EAE;
    --section-padding:120px;
}

@media screen and (min-width:1140) {
    :root {
        --primary-text:16px;
        --section-padding:125px 0;
    }
}

.container {
    max-width:140px;
    width:100%;
    margin: 0 auto;
    padding:0 10px;
}